body {
  background-color: honeydew;
}

.garden {
  border: 2px solid maroon;
  padding: 2px;
  gap: 2px;
}

.garden p {
  margin: 0;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: wheat;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 200px;
}

.merged {
  grid-column: span 2;
}

.merged3 {
  grid-column: span 3;
}
.mergedRow {
  grid-column: span 1;
  grid-row: span 2;
 
}